<h1>Bem Vindo</h1>
<p><%= ambiente_rails %></p>

<p>Seu nome de trás pra frente: <%= "Thomé Lucas".reverse %> </p>
<p> <% x = 'teste' %>  </p>
<p>O valor de X é:  <%= x %> </p>
<p> A data de hoje é: <%= Date.today %> </p>